html{
  font-family: 'Lato',sans-serif;
  font-weight: 400;
}

.landing_splash{
  height: 100vh;
  color: #FFF;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.landing_splash > nav > div:last-child{
  justify-content: flex-end;
  display: flex;
}


.landing_text{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_text h1{
  color: #FFF;
  font-size: 2em;
  margin-bottom: .25em;
  text-shadow: 1px 1px 3px #555;
}

.landing_text span{
  display: block;
  margin-bottom: .5em;
  text-shadow: 1px 1px 3px #555;
}

.landing_text button{
  width: 25%;
}

nav{
  padding: 2em 0;
  display: flex;
  align-items: center;
}

nav a{
  text-align: left;
  display: block;
  color: #FFF;
  padding-left:1em;
}

.eminus_logo{
  padding: 0;
}

.popular_languages{
  text-align: center;
}

.popular_languages h1{
  font-size: 2em;
  margin: 2em 0;
}

.pop_langs{
  margin: 2em auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
}

.pop_langs > div{
  position: relative;
  width: 100%;
}

.pop_langs img{
  border-radius: 6px;
}

.pop_langs span{
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #FFF;
}

.tutors{
  text-align: left;
}

.tutors h1{
  font-size: 2em;
  margin-left:0;
  margin-top: 2em;
  margin-bottom: 1em;
}

.tutors_list{
  margin: 1em auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.tutors_list > div{
  position: relative;
  width: 100%;
  padding: 0;
}

.card{
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  border:0;
}

.user_card{
  position: relative;
}

.price,
.fav{
  position: absolute;
}

.fav{
  right: 0;
  font-size: 1.25em;
  color: #FFF;
  padding: 0.25em;
}

.price{
  left: 0;
  color: #FFF;
  top: 80%;
  background: #CD3231;
  padding: .25em .75em;
}

.user_profile{
  font-weight: 300;
  padding: .5em;
}

.user_profile p{
  padding-bottom: .5em;
  line-height: 1.25;
}

.rating{
  color: #AFD473;
  float:right;
}

.tutor_details{
  padding: 1em 0;
}

.tutors_btn button{
  width: 95%;
}

.tutors_btn > div:last-child button{
  float: right;
}

.divider{
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.prefooter{
  padding: 2em 0;
  border-top: 1px solid #999;
}

.prefooter > .container_c > div:last-child{
  text-align: right;
}


.footer .container_c{
  border-top: 1px solid #999;
  padding: 1em 0;
}

.prefooter h1{
  color:#333;
  font-weight: 500;
  margin-bottom: .75em;
}

.prefooter ul li{
  margin-bottom: .5em;
}

footer{
  height: 15vh;
}

/* general */

a {
  color: #888;
  text-decoration: none;
  letter-spacing: .5px;
}

a:hover{
  color:#AFD473;
}

h1{
  color: #555;
}

strong{
  font-weight: 700;
  display: inline-block;
}

i{
  font-weight: 300;
  display: block;
}

section{
  display: block;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

button{
  cursor: pointer;
  width: 100%;
  color: #FFF;
  background-color: #AFD473;
  font-size: 1em;
  font-weight: 300;
  border-radius: 3px;
  padding:.5em;
  border:0;
  outline:none;
  border: 1px solid #AFD473;
}

button:hover{
  background-color: rgba(175,212,115,0.5);
  border: 1px solid #AFD473;
}

.alt_btn{
  color: #999;
  background-color: #FFF;
  border: 1px solid #999;
}

.alt_btn:hover{
  color: rgb(175,212,115);
  background-color: transparent;
  border: 1px solid #AFD473;
}

input{
  width: 25%;
  padding:.5em;
  color: #000;
  background: rgba(255,255,255,0.8);
  font-size: 1em;
  border-radius: 3px;
  border:0;
  outline:none;
  margin-right: 1em;
}


.select{
  width:150px;
  height:35px;
  font-size: 1em;
  background-color: #FFF;
  border:1px solid #999;
  border-radius: 1px;
  outline: none;
}


/* images */


.eminus_logo img{
  width: 150px;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
  margin-right: .5em;
}
